body{
  background-color: #f5f5f5 !important;
  font-family: "Ubuntu", sans-serif;
}
/* Nav */
.o-nav{
  border-radius: 0;
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #2f3e94;
}

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.q-back{
  border: 1px solid #dadada;
  padding: 35px;
  padding-bottom: 5px;
  background: #fdfdfd;
  padding: 25px 13px 4px 13px;
}

.panel-default>.panel-heading{
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.q-title{
  position: relative;
  top: 15px;
  left: 20px;
}
.q-title .title{
  display: inline-block;
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
  padding: 7px 13px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}
.q-title .title .badge {
    color: #3f51b5;
    background-color: #fff;
}
.mdl-btn{
  background: #3f51b5 !important;
  color: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.question{
  margin-bottom: 5px;
}

.answer{
  margin-bottom: 5px;
  border-top: 1px solid #F0E3E3;
  margin-top: 5px;
  padding-top: 5px;

}

.sign_up_text{
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
.sign_up_text p{
  display: inline-block;
}

.drop-login{
  display: inline-block;
  width: auto;
  height: auto;
  padding: 2px 7px;
}

.text-widget-1 {
  margin: 10px 0;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.text-widget-1 .col-xs-8{
  padding-top: 10px;
  padding-left: 0;
}

.text-widget-1 .row {
  height: 80px;
  overflow: hidden;
}

.text-widget-1 .col-xs-4 {
  text-align: center;
  padding: 23px 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.text-widget-1 .col-xs-4 .fa {
  margin-left: 15px;
}

.text-widget-1 .title {
  font-size: 14px;
  text-align: center;
}

.text-widget-1 .subtitle {
  font-size: 28px;
  text-align: center;
}

.bg-blue-700 {
  background-color: #1976d2 !important;
}

.bg-blue-700-hover:hover, .bg-blue-700-hover:active, .bg-blue-700-hover:focus {
  background-color: #1976d2 !important;
}

.bg-blue-900 {
    background-color: #0d47a1 !important;
}
.color-white {
    color: #ffffff !important;
}
